body {
  background-color: #1C1F1F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

img.nav-img {
  display: block;
  margin: 0 auto;
}

.navbar-nav {
  margin: 0 auto;
}

.dropdown:hover {
  background-color: #233237;
}

.dropdown-menu {
  background-color: #233237;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 0.25rem 0.25rem;
}

.dropdown-item {
  color: white;
  padding: 0.25rem 0.25rem;
  font-size: 0.85rem;
}

.dropdown-item:hover {
  background-color: #D8C1C1;
  color: white;
}

.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  display: inline-block;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.dropdown-toggle::after {
  display: none;
}

.nav-item {
  max-height: 40px;
}

.nav-item:hover {
  max-height: 500px;
}

.nav-item.show {
  max-height: 500px;
}

.navbar-toggler {
  margin: 0 auto;
  width: 200px;
}

.caption {
  position: absolute;
}

.galleries {
  margin: 10px 10px;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 90%;
  left: 50%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.thumb {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-position: center center;
  background-size: cover;
}

.form-control {
  color: white;
  background-color: #233237;
  border-radius: 0;
}

.form-control:focus {
  color: white;
  background-color: #233237;
}
