{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
  {{category.name}}
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    {% for gallery in galleries %}
    <a href="{% url 'gallery' gallery.gallery_id %}">
      <div class="galleries">
        <div class="thumb" style="background-image:url({% if not gallery.thumbnail %}{% static 'img/blank.png ' %}
                                                       {% else %}{% get_media_prefix  %}{{gallery.thumbnail}}{% endif %})">
        </div>
        <div class="centered">{{gallery.name}}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
