{% extends 'base.html' %} {% block body %}
<section
  class="contact-our-area section-padding-100-0"
  id="contact"
  style="min-height:95vh"
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6" style="margin-bottom:10px">
        <div class="col-12">
          <div class="row text-white bg-dark" style="line-height: 30px">
            <div class="col-9" style="text-align:right">
              <div class="row">
                <div class="col-5">
                  Item
                </div>
              </div>
            </div>
            <div class="col-3" style="text-align:left">
              Price
            </div>
          </div>
          {% for item in items %}
          <div class="row text-white bg-secondary" style="line-height: 30px">
            <div class="col-9" style="text-align:right">
              <div class="row">
                <div class="col-12">
                  {{item.0}}
                </div>
              </div>
            </div>
            <div class="col-3" style="text-align:left">
              ${{item.1}}
            </div>
          </div>
          {% endfor %}

          <div
            class="row text-white bg-dark"
            style="text-align:center;line-height: 30px">
            <div class="col-9" style="text-align:right">
              Total
            </div>
            <div class="col-3" style="text-align:left">
              ${{total}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 text-white">
        <div class="col-12">
          <div
            class="row text-white bg-dark"
            style="line-height: 30px"
          >
            <div class="col-12" style="text-align:center">
              Your Personal Information
            </div>
          </div>
          <form action="{% url 'charge' %}" method="post" id="payment-form">
            {% csrf_token %}
            <div class="row bg-secondary">
              <input
                name="name"
                id="name"
                type="text"
                placeholder="Full Name"
                required
                autocomplete="name"
                class="bg-secondary text-white"
                style="width:98%; padding:10px 10px; border:none;"
              />
            </div>
            <div class="row bg-secondary">
              <input
                name="email"
                id="email"
                type="email"
                placeholder="Email"
                required
                autocomplete="email"
                class="bg-secondary text-white"
                style="width:98%; padding:10px 10px; border:none;"
              />
            </div>
            <div class="row text-white bg-secondary">
              <div
                id="card-element"
                style="width:98%; padding-top:8px; padding-left:10px; padding-bottom:8px"
                required
              ></div>
              <div id="card-errors" role="alert" style="color:#E85748"></div>
            </div>
            <div class="row bg-dark" style="line-height: 30px">
              <input
                type="submit"
                class="submit btn btn-primary bg-dark"
                value="Pay"
                style="border:none;width:100%; padding-top:5px; margin-left:0"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <br /><br />
  </div>
</section>

<script>
  var stripe = Stripe("{{ key }}");
  var elements = stripe.elements();
  var card = elements.create("card", {
    iconStyle: "solid",
    style: {
      base: {
        iconColor: "#9ED7F5",
        color: "#fff",
        fontWeight: 500,
        fontFamily: "Roboto, Open Sans, Segoe UI, sans-serif",
        fontSize: "16px",
        fontSmoothing: "antialiased",

        ":-webkit-autofill": {
          color: "#fce883"
        },
        "::placeholder": {
          color: "#5D7CA3"
        }
      },
      invalid: {
        iconColor: "#E74C3C",
        color: "#E74C3C"
      }
    }
  });

  // Add an instance of the card UI component into the `card-element` <div>
  card.mount("#card-element");

  card.addEventListener("change", function(event) {
    var displayError = document.getElementById("card-errors");
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = "";
    }
  });

  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById("payment-form");
    var hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", "stripeToken");
    hiddenInput.setAttribute("value", token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }

  function createToken() {
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById("card-errors");
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  }

  // Create a token when the form is submitted.
  var form = document.getElementById("payment-form");
  form.addEventListener("submit", function(e) {
    e.preventDefault();
    createToken();
  });
</script>

{% endblock %}
