<!DOCTYPE html>
<html>
  <head>
    <title>Prime Pix Studio</title>
    <link rel="stylesheet" href="/static/css/material-design-iconic-font.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  </head>
  <body>
    <div class="navigation">
    <ul>
      {% for category in parent_categories %}
        <li>
          <a href="#">{{category.name|upper}} <i class="zmdi zmdi-caret-down"></i></a>
            <ul>
              {% for child in category.children.all %}
                <li><a href="{{child.get_url}}">{{child.name|upper}}</a></li>
              {% endfor %}
            </ul>
        </li>
      {% endfor %}
      <li>
        <a href="#">{{latest.name|upper}}</a>
      </li>
      <li>
        <a href="#">PRE-ORDERS</a>
      </li>
      <li>
        <a href="#">CONTACT</a>
      </li>
    </ul>
    </div>
  </body>
</html>
