{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Prime Pix Studio</title>
    <link rel="stylesheet" href="/static/css/material-design-iconic-font.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  </head>
  <body>
    <div class="navigation">
      <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" width=125></img></a>
    <ul>
      {% for category in parent_categories %}
        <li>
          <a href="#">{{category.name|upper}} {% if category.children.all.count is not 0 %}<i class="zmdi zmdi-caret-down"></i> {% endif %}</a>
          {% if category.children.all.count is not 0 %}
            <ul>
              {% for child in category.children.all %}
                <li><a href="{{child.get_url}}">{{child.name|upper}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>
  </body>
</html>
