{% extends 'base.html' %}

{% block body %}
<section class="page-section" id="contact">
  <div class="container">
    <br>

    <div class="row">
      <div class="card bg-dark border-danger mb-3" style="max-width: 20rem; margin: 10px 10px">
        <div class="card-header"><br><h4>$100 Package</h4></div>
        <div class="card-body">
          <p class="card-text">This package will get you all of the photos we take of you during a specific event. This usually amounts to more than 20 photos, especially if you dance many times.</p>
        </div>
        <div class="card-footer text-muted">
          <a type="button" class="btn btn-light" style="padding: 2% 44%" href="{% url 'package' %}">Buy</a>
        </div>
      </div>

      <div class="card bg-dark border-danger mb-3" style="max-width: 20rem; margin: 10px 10px">
        <div class="card-header"><br><h4>$20 Individual</h4></div>
        <div class="card-body">
          <p class="card-text">This package will get you a single photo from a specific event.</p>
        </div>
        <div class="card-footer text-muted">
          <a type="button" class="btn btn-light" style="padding: 2% 44%" href="{% url 'individual' %}">Buy</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
